.companyList {
  flex: 4;
}

.companyListItem {
  display: flex;
  align-items: center;
}

.companyListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.companyListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: #3bb077;
  cursor: pointer;
  margin-right: 7px;
  margin-top: 10px;
}

.companyListDelete {
  color: red;
  cursor: pointer;
}

.companyTitle{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyAddButton {
  width: 85px;
  border: none;
  padding: 5px 0px;
  background-color: #0a95ff;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.companyListEdit:hover {
  color:  #2b8a5c;
}

.companyListDelete:hover{
  color: #c53030;
}

/*adding hover effect to the add button */

.companyAddButton:hover {
  background-color: #0469a3;
}


.companyButtonContainer {
  align-items: center;
  margin: 15px 0px;
  padding-right: 20px;
}
